{block content}
<head>
	<link rel="stylesheet" href="{$basePath}/css/style.css">
</head>

	<h1>Admin prvni verze jen pridani webu</h1>
	<div>
		<a n:href="Edit:create">Napsat nový příspěvek</a>
	</div>
	{foreach $posts as $post}
		<div>
			<div>
				<p><a n:href="Post:show $post->id">{$post->title}</a></p>
			</div>
			<div>
				{$post->description|truncate:250|noescape}
			</div>
		</div>
	{/foreach}
{/block}
